*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;

}
.container::before
{
content: "";
background: url(Netbanner.jpg) no-repeat center center/cover;
position: absolute;
height: 100%;
width:100%;
z-index: -2;


}
.container .navbar
{
    height: 100%;
    display: flex;
}
.container .navbar .left
{
    height: 100%;
    display: flex;
    float: left;
}
.container .navbar .left img{
    height: 100px;
    position: absolute;
    left: 30px;
    
}
.container .navbar .right
{
    height: 100px;
    display: flex;
    float: right;
    position: absolute;
    right: 50px;
}
.container .navbar .right .language
{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size:15px ;
    padding:7px 10px ;
    color: white;
    background: none;
    cursor: pointer;
    margin-right: 15px;
    
}

.container .navbar .right .language option{
    background-color: grey;
}
.container .navbar .right button{
     margin: auto;
    align-items: center;
    justify-content: center;
    font-size:15px ;
    font-weight: 460;
    padding: 7px 17px;
    background:rgb(131, 47, 47) ;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    border: none;
}
.container .navbar .right .icon
{
    margin-top: 40px;
    
}
.container .navbar .right button a{
    text-decoration: none;
    color: white;
}
.container .title
{
    padding: 70px 45px;

}
.container .title .content
{
    width: 950px;
    margin: auto;
    padding: 75px;
    text-align: center;
}
.container .title .content h1
{
    margin-top: 50px;

}
.container .title .content h2
{
    line-height: 50px;
}
.container .title .content .email
{
    padding: 20px;
    
}
.container .title .content .email input{
    padding: 10px;
    border: none;
    font-weight: 100;
    border: none;
    outline: none;
    cursor: pointer;
    width: 300px;
    position: relative;

    
}
.container .title .content .email button{
    padding: 10px;
    background-color: rgb(131, 47, 47) ;
    outline: none;
    border: none;
    font-weight: 100;
     text-align: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    

}
.container .title .content .email button a{
    text-decoration: none;
    color: white;
   
}